﻿@model OrderState
@{
    ViewData["Title"] = "Actualizar estado";
    ViewData["Titulo"] = "<i class=\"fas fa-stream\"></i> Actualizar";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-primary">
            <div class="card-header">
                Actualizar categoría
            </div>
            <form asp-controller="OrderStates" asp-action="Update" asp-antiforgery="true" method="post">
                <div class="card-body">
                    <input asp-for="id" type="hidden" />

                    <div class="form-horizontal">

                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 offset-md-2">Nombre</label>
                        <div class="col-md-6">
                            <input asp-for="description" class="form-control" placeholder="Nombre estado" />
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 offset-md-2">¿Activo?</label>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input asp-for="state" class="form-check-input" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" data-ajax="true" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>