﻿@model WayToPay
@{
    ViewData["Title"] = "Registrar forma de pago";
    ViewData["Titulo"] = "<i class=\"far fa-credit-card\"></i> Registrar";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-success">
            <div class="card-header">
                Nuevo forma de pago
            </div>
            <form asp-action="Register" asp-antiforgery="true" method="post">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2">Descripción</label>
                            <div class="col-md-6">
                                <input asp-for="description" class="form-control" placeholder="Nombre forma de pago" />
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" data-ajax="true" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>