﻿@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index - Productos";
    ViewData["Titulo"] = "<i class=\"fab fa-product-hunt\"></i> Index";
    string msg = ViewBag.msg;
}

@section Styles {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
}

@Html.Raw(msg)
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-blue">
            <div class="card-header">
                Productos registrados
            </div>
            <div class="card-body">
                <div class="float-right">
                    <a asp-controller="Products" asp-action="Register" class="btn btn-success"><i class="fas fa-plus"></i></a>
                </div>
                <table class="table table-striped table-responsive-md table-responsive-sm infoTable">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label>Nombre</label>
                            </th>
                            <th scope="col">
                                <label>Categoría</label>
                            </th>
                            <th scope="col">
                                <label>Stock actual</label>
                            </th>
                            <th scope="col">
                                <label>Stock mínimo</label>
                            </th>
                            <th>
                                <label>Precio</label>
                            </th>
                            <th scope="col">
                                <label>¿Activo?</label>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.stock)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.stock_min)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.price)
                                    </td>
                                    <td>
                                        @(item.state ? Html.Raw("<span class='text-success'><i class='fas fa-check'></i><b>Activo</b></span>") :
                                            Html.Raw("<span class='text-danger'><i class='fas fa-times'></i><b>Inactivo</b></span>"))
                                    </td>
                                    <td>
                                        <a asp-controller="Products" asp-action="Update" asp-route-item="@Encrypt.Encrypt_String(item.id.ToString())" class="btn btn-xs btn-warning" title="Actualizar"><i class="fas fa-edit"></i></a>
                                        <a asp-controller="Products" asp-action="SoftDelete" asp-route-item="@Encrypt.Encrypt_String(item.id.ToString())" onclick="return confirm('¿Desea eliminar esta categoría?');" class="btn btn-xs btn-danger" title="Eliminar"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/js/CommonFunctions.js"></script>
}