﻿@model BACK_FOOD_MVC.ViewModels.Products.AddProductVM
@{
    ViewData["Title"] = "Registrar";
    ViewData["Titulo"] = "<i class=\"fab fa-product-hunt\"></i> Registrar";
    SelectList categories = ViewBag.categories;
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-success">
            <div class="card-header">
                Nuevo producto
            </div>
            <form asp-action="Register" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label asp-for="name" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="name" class="form-control" placeholder="Nombre producto" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="category_id" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <select asp-for="category_id" asp-items="categories" class="form-control">
                                    <option>Seleccione una opción</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="stock" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="stock" class="form-control" placeholder="Cantidad existente" />
                                <span asp-validation-for="stock" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="stock_min" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="stock_min" class="form-control" placeholder="Cantidad mínima" />
                                <span asp-validation-for="stock_min" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="price" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="price" class="form-control" placeholder="Precio" />
                                <span asp-validation-for="price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="file" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="file" type="file" class="form-control" />
                                <span asp-validation-for="file" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" data-ajax="true" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>