﻿@model Product
@{
    ViewData["Title"] = "Actualizar producto";
    ViewData["Titulo"] = "<i class=\"fab fa-product-hunt\"></i> Actualizar";
    SelectList categories = ViewBag.categories;
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-primary">
            <div class="card-header">
                Nuevo producto
            </div>
            <form asp-action="Update" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <input asp-for="id" type="hidden" />
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2"> Nombre</label>
                            <div class="col-md-6">
                                <input asp-for="name" class="form-control" placeholder="Nombre producto" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2"> Categoría</label>
                            <div class="col-md-6">
                                <select asp-for="category_id" asp-items="categories" class="form-control">
                                    <option>Seleccione una opción</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2"> Stock</label>
                            <div class="col-md-6">
                                <input asp-for="stock" class="form-control" placeholder="Cantidad existente" />
                                <span asp-validation-for="stock" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2"> Stock mínimo</label>
                            <div class="col-md-6">
                                <input asp-for="stock_min" class="form-control" placeholder="Cantidad mínima" />
                                <span asp-validation-for="stock_min" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2"> Precio</label>
                            <div class="col-md-4">
                                <input asp-for="price" class="form-control" placeholder="Precio" />
                                <span asp-validation-for="price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2">Archivo</label>
                            <div class="col-md-6">
                                <input id="file" name="file" type="file" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2">¿Activo?</label>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input asp-for="state" class="form-check-input" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" data-ajax="true" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>