﻿@model BACK_FOOD_MVC.ViewModels.Categories.AddCategoryVM
@{
    ViewData["Title"] = "Registrar";
    ViewData["Titulo"] = "<i class=\"fas fa-box\"></i> Registrar";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-success">
            <div class="card-header">
                Nueva categoría
            </div>
            <form asp-action="Register" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label asp-for="name" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="name" class="form-control" placeholder="Nombre estado" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="file" class="col-md-2 offset-md-2"></label>
                            <div class="col-md-6">
                                <input asp-for="file" type="file" class="form-control" />
                                <span asp-validation-for="file" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" data-ajax="true" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>